In [1]:
1+1

2

In [2]:
print("Hello World")

Hello World

In [ ]:
# This is a single line comment
'''
multiple line comments
'''
# use backlash to continue code on next line

total=1+2+3+4+\
    5

print(total)

15

In [3]:
# Multiple Statements on a single line

x = 5; y=10; z=x+y
print(z)

15

In [ ]:
# write a code to add two numbers

print("THIS CODE PRINT TWO NUMBERS YOU INPUT AND RETURN RESULT")
x=input("Enter first number:")
y=input("Enter Second number:")
ix=int(x)
iy=int(y)
z=ix+iy
print(f"The sum of {x} and {y} is {z}")

In [1]:
type(name)

NameError: name 'name' is not defined

In [2]:
### fish

### fish

In [3]:
type(fish)

NameError: name 'fish' is not defined

In [4]:
type("fish")

str

In [5]:
type(0.1)

float

In [6]:
type(fish)

NameError: name 'fish' is not defined

In [7]:
age = 32
if age>30:
    print(age)

32

In [13]:
age = 32
print(age+1)

33

In [ ]:
## Code examples of indentation
if True:
    print("Correct Indentation")
    if False:
        print("This not print")
    print("This will print")
print("Outside the if block")